/* Estilos para la tabla */
:host ::ng-deep .preview-table {
    @apply bg-white dark:bg-gray-800 border-gray-200 dark:border-gray-600;
  }
  
  :host ::ng-deep .preview-table .p-datatable-wrapper {
    @apply bg-white dark:bg-gray-800;
  }
  
  :host ::ng-deep .preview-table .p-datatable-header {
    @apply bg-white dark:bg-gray-800;
  }
  
  :host ::ng-deep .preview-table .p-datatable-thead > tr > th {
    @apply bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-white border-gray-200 dark:border-gray-600;
  }
  
  :host ::ng-deep .preview-table .p-datatable-tbody > tr {
    @apply bg-white dark:bg-gray-800 border-gray-200 dark:border-gray-600;
  }
  
  :host ::ng-deep .preview-table .p-datatable-tbody > tr:hover {
    @apply bg-gray-50 dark:bg-gray-700;
  }
  
  :host ::ng-deep .preview-table .p-paginator {
    @apply bg-white dark:bg-gray-800 border-gray-200 dark:border-gray-600;
    position: relative;
    z-index: 1;
  }
  
  :host ::ng-deep .preview-table .p-paginator .p-paginator-pages .p-paginator-page {
    @apply text-gray-700 dark:text-gray-300;
  }
  
  :host ::ng-deep .preview-table .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    @apply bg-blue-700 text-white;
  }
  
  :host ::ng-deep .preview-table .p-dropdown {
    @apply bg-white dark:bg-gray-700 border-gray-300 dark:border-gray-600;
    height: 2rem;
  }
  
  :host ::ng-deep .preview-table .p-dropdown-panel {
    @apply bg-white dark:bg-gray-700;
    z-index: 100;
    position: absolute !important;
    top: 100% !important;
  }
  
  :host ::ng-deep .preview-table .p-paginator-current {
    @apply text-gray-700 dark:text-gray-300;
  }
  
  :host ::ng-deep .preview-table .p-paginator .p-paginator-first,
  :host ::ng-deep .preview-table .p-paginator .p-paginator-prev,
  :host ::ng-deep .preview-table .p-paginator .p-paginator-next,
  :host ::ng-deep .preview-table .p-paginator .p-paginator-last {
    @apply text-gray-700 dark:text-gray-300;
  }
  
  :host ::ng-deep .preview-table .p-paginator .p-paginator-first:hover,
  :host ::ng-deep .preview-table .p-paginator .p-paginator-prev:hover,
  :host ::ng-deep .preview-table .p-paginator .p-paginator-next:hover,
  :host ::ng-deep .preview-table .p-paginator .p-paginator-last:hover {
    @apply bg-gray-100 dark:bg-gray-600;
  }

  :host ::ng-deep .preview-table .p-datatable-tbody > tr > td {
    @apply text-gray-700 dark:text-gray-300;
  }
  
  :host ::ng-deep .preview-table .p-dropdown-items .p-dropdown-item {
    @apply text-gray-700 dark:text-gray-300;
  }
  
  :host ::ng-deep .preview-table .p-dropdown-trigger-icon {
    @apply text-gray-700 dark:text-gray-300;
  }
  
  :host ::ng-deep .preview-table .p-dropdown-label {
    @apply text-gray-700 dark:text-gray-300;
  }